html {
    height: 100%;
}

a{
    text-decoration:none;
}

body {
    background-image: url(img/001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#header{
    text-align: center;
    font-size: large;
}
#side{
    background-color: rgba(0, 24, 24, 0.3);
    display: flex;
    padding: 2px;
    
}

#side a{
    flex: 1;
    text-align: center;
    display:inline;
    border-radius: 3px;
    border: rgb(102, 255, 0) solid 2px;
    margin: 10px;
    background-color: white;
    padding: 5px;
}
#side a:hover{
    background-color: yellow;
}
h2{
    text-align: center;
}
img{
    display:block;
    margin:auto;
}
p{
    text-align: center;
}